<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 网站用户</title>
    {include file="Common/header"}
</head>
<body>
<div style="width: 80%;margin: 50px auto 0;">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="name" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
{include file="Common/footer"}
<script>
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            //layer.msg(JSON.stringify(data.field));
            //var info = JSON.stringify(data.field.name);
            $.ajax({
                type:'post',
                url:"{:url('add')}",
                data:{
                    "name":data.field.name,
                    "password":data.field.password,
                },
                dataType:'json',
                success:function (data) {
                    if (data.code == 1){
                        layer.msg(data.hint,{
                            icon:6,
                            time:2000,
                        });
                        window.location.href="{:url('lis')}";
                    }else {
                        layer.msg(data.hint,{
                            icon:5,
                            time:2000,
                        })
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
